name: main

on:
  push:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled'
        required: false
        default: false
    streamlink:
        description: 'Streamlink update indicator'
        required: false

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_REPO: streamlink-service
  PORT: 7000
  entry: 8000

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: GITHUB_REF
        run: echo GITHUB_REF=$GITHUB_REF github.event.inputs.streamlink=${{ github.event.inputs.streamlink }}
      - name: build
        run: docker build -t $DOCKER_USERNAME/$DOCKER_REPO:${GITHUB_REF#refs/*/} .
      - name: install
        run: pip install pytest-cov pytest-flake8 codecov
      - name: run
        run: docker run --name streamlink -d -e PORT=$PORT -p $entry:$PORT $DOCKER_USERNAME/$DOCKER_REPO:${GITHUB_REF#refs/*/}
      - name: sleep
        run: sleep 4
      - name: test
        run: python -m pytest
      - name: Setup tmate session
        if: ${{ github.event_name == 'workflow_dispatch' &&
                github.event.inputs.debug_enabled ||
                failure() }}
        uses: mxschmitt/action-tmate@v3
      - name: deploy
        if: ${{ startsWith(github.ref, 'refs/tags/') ||
                github.event.inputs.streamlink }}
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          HEROKU: ${{ secrets.HEROKU }}
        run: ./deploy.sh
